
.btn-link {
    text-decoration: none;
    color: #007ad9;
    font-size: 16px;
  }
  
  .btn-link:hover {
    color: #005fa3;
  }
  
  .p-table th, .p-table td {
    text-align: center;
  }
  
  .p-button-rounded {
    border-radius: 50px;
  }



  .custom-dialog {
    z-index: 10000 !important;
  }