/* Estilo para la tabla de órdenes */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  table td {
    background-color: #fff;
    color: #666;
  }
  
  /* Fila de la tabla cuando se pasa el mouse */
  table tr:hover {
    background-color: #f9f9f9;
  }
  
  table td, table th {
    text-align: center;
  }
  
  /* Estilos para los formularios de orden */
  .order-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .order-form h4 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .order-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .order-form button {
    padding: 10px 20px;
    background-color: #007ad9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .order-form button:hover {
    background-color: #005fa3;
  }
  
  .order-form input:focus {
    outline: none;
    border-color: #007ad9;
  }
  
  /* Estilo para el contenedor de la página */
  .order-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h3 {
    font-size: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
  }
  
  /* Estilos de los botones de la tabla */
  button {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
  
  button.p-button-rounded {
    border-radius: 50%;
  }
  
  button.p-button-info {
    background-color: #007ad9;
    color: white;
  }
  
  button.p-button-info:hover {
    background-color: #005fa3;
  }
  
  button.p-button-danger {
    background-color: #e74c3c;
    color: white;
  }
  
  button.p-button-danger:hover {
    background-color: #c0392b;
  }
  